﻿@model IEnumerable<NewsDotNet.DomainModel.Entities.Article>

@{
    ViewBag.Title = "Archive";
}
<div class="wrap">
    <div id="main" role="main">
        <div class="container">
            <ul class="list-group">
                @foreach (var articleInfo in Model)
                {
                    @Html.Partial("ArchiveArticlePartial", articleInfo)
                   

                }
                </ul>
</div>
    
        </div>
    </div>

