﻿@model IEnumerable<NewsDotNet.DomainModel.Entities.Article>

@{
    ViewBag.Title = "News.Net Admin: Список статей";
}

<div class="container">
    @if(@Model.Count() == 0){
        <div class="alert alert-info">Нет статей для отображения</div>
		}


    @foreach (var article in Model)
{
    <div class="panel panel-info" onclick="location.href='@Url.Action("Show", "Articles", new {area = "", addressName = article.AddressName })';">
        <div class="panel-heading">
            <h4 class="panel-title">
                @article.Title
            </h4>
        </div>
        <div class="panel-body">
            @Html.Raw(article.Body.Substring(0, Math.Min(article.Body.Length, 100)) + "...")
        </div>
        <div class="panel-footer">
            Автор: Аноним
        </div>
    </div>
}

</div>

