﻿@model NewsDotNet.DomainModel.Entities.Article

<div class="item g1" onclick="location.href='@Url.Action("Show", "Articles", new { addressName = Model.AddressName })';">
    <img class="lazyOwl " data-src="@Model.TitleImagePath" alt="@Model.Title">
    <div class=" caption">
        <h3>@Model.Title</h3>
    </div>
</div>

