﻿@model IEnumerable<NewsDotNet.DomainModel.Entities.MainPageEntity>

@{
    ViewBag.Title = "News.Net";
}

<div class="gallery container">
        @*<h1>Top Stories</h1>*@
        <!-- requried-jsfiles-for owl -->
        <link href="~/Content/Styles/owl.carousel.css" rel="stylesheet">
        <script src="~/Scripts/owl.carousel.js"></script>
        <script>
				    $(document).ready(function() {
					    $("#owl-demo").owlCarousel({
						    items : @Math.Min(@Model.Count(),3),
						    lazyLoad : true,
						    autoPlay : true,
						    pagination : false,
						    navigation : true,
						    navigationText :  true,
					    });
				    });
        </script>
        <!-- //requried-jsfiles-for owl -->
        <!-- start content_slider -->
        <div id="owl-demo" class="owl-carousel ">
            @foreach (var articleInfo in Model.Where(info => info.IsFeatured))
            {
                @Html.Partial("FeaturedArticlePartial", articleInfo.Article)
            }

        <!--//sreen-gallery-cursual---->
    </div>
</div>


<div class="wrap">
    <div id="main" role="main">
        <ul id="tiles">
            @foreach (var articleInfo in Model.Where(info => !info.IsFeatured))
            {
                @Html.Partial("RegularArticlePartial", articleInfo.Article)
            }
        </ul>
    </div>
</div>

<script src="~/Scripts/jquery.imagesloaded.js"></script>
<script src="~/Scripts/jquery.wookmark.js"></script>
<script type="text/javascript">
    (function ($) {
        var $tiles = $('#tiles'),
            $handler = $('li', $tiles),
            $main = $('#main'),
            $window = $(window),
            $document = $(document),
            options = {
                autoResize: true, // This will auto-update the layout when the browser window is resized.
                container: $main, // Optional, used for some extra CSS styling
                offset: 20, // Optional, the distance between grid items
              //  itemWidth: 460 // Optional, the width of a grid item
            };
        /**
         * Reinitializes the wookmark handler after all images have loaded
         */
        function applyLayout() {
            $tiles.imagesLoaded(function () {
                // Destroy the old handler
                if ($handler.wookmarkInstance) {
                    $handler.wookmarkInstance.clear();
                }

                // Create a new layout handler.
                $handler = $('li', $tiles);
                $handler.wookmark(options);
            });
        }
        /**
         * When scrolled all the way to the bottom, add more tiles
         */
        function onScroll() {
            // Check if we're within 100 pixels of the bottom edge of the broser window.
            var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
                closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

            if (closeToBottom) {
                // Get the first then items from the grid, clone them, and add them to the bottom of the grid
                var $items = $('li', $tiles),
                    $firstTen = $items.slice(0, 10);
                $tiles.append($firstTen.clone());

                applyLayout();
            }
        };

        // Call the layout function for the first time
        applyLayout();

        // Capture scroll event.
        //$window.bind('scroll.wookmark', onScroll);
    })(jQuery);
    </script>
<!----//wookmark-scripts---->

@Html.Partial("_DisqusCommentCount");

