﻿@model NewsDotNet.DomainModel.Entities.Article

<li onclick="location.href='@Url.Action("Show", "Articles", new { addressName = Model.AddressName })';">
    <img src="@Model.TitleImagePath">
    <div class="post-info">
        <div class="post-basic-info">
            <h3>@Model.Title</h3>
            @foreach (var tag in Model.Tags)
            {
                <span><a href="#"><label> </label>@tag.Name</a></span>
            }      
            <p>@Html.Raw(Model.Body.Substring(0, Math.Min(Model.Body.Length, 250)) + "...")</p>
            <p class="comments">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;
                <a data-disqus-identifier="@Model.AddressName"
                   href="@Url.Action("Show", "Articles", new { addressName = Model.AddressName })#disqus_thread">0</a>
            </p>
        </div>
    </div>
</li>

